<h2>All authors</h2>

<% if authors.any? %>
  <div id="authors">
    <% authors.each do |author| %>
      <div class="author">
      <%= author.name %>
      <%= AuthorRepository.new.find_with_books(author.id).books.count %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no authors yet.</p>
<% end %>


<%= link_to 'Back', '/books' %>
